<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/index">Главная</a>
<a href="/admin/books">Книги</a>
<a href="/admin/people">Люди</a>

<h1>People admin page</h1>

<form method="get" action="/admin/people">
    <input type="text" name="search">
    <input type="submit" value="Найти">
</form>

<table border="1" cellpadding="5">
    <tr>
        <td>Имя</td>
        <td>Пол</td>
        <td>Год рождения</td>
        <td>Почта</td>
    </tr>
    <tr th:each="person: ${people}">
        <td><a th:text="${person.getName()}" th:href="@{/admin/people/{id}(id=${person.getId()})}"></a></td>
        <td th:text="${person.getLastName()}"></td>
        <td th:text="${person.getYear()}"></td>
        <td th:text="${person.getEmail()}"></td>
    </tr>
</table>

</body>
</html>