<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getName()}">Title</title>
    <link rel="stylesheet" href="/style/general.css" />
</head>
<body>

<header>
    <div class="admin__logo">
        <img src="/Vector.svg">
    </div>
    <div class="admin__menu">
        <div><a href="/index">Главная</a></div>
        <div><a href="/admin/books">Книги</a></div>
        <div><a href="/admin/people">Люди</a></div>
    </div>
</header>

<p th:text="${person.getLastName()}"></p>
<p th:text="${person.getName()}"></p>
<p th:text="${person.getSurname()}"></p>
<p th:text="${person.getYear()}"></p>
<p th:text="${person.getEmail()}"></p>

</body>
</html>