<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getName()}"></title>
    <link rel="stylesheet" href="/style/general.css" />
</head>
<body>

    <header>
        <div class="admin__logo">
            <img src="/Vector.svg">
        </div>
        <div class="admin__menu">
            <div><a href="/index">Главная</a></div>
            <div><a href="/admin/books">Книги</a></div>
            <div><a href="/admin/people">Люди</a></div>
        </div>
    </header>

<p>Название книги: <span th:text="${book.getName()}"></span></p>
<p>Автор книги: <span  th:text="${book.getAuthor()}"></span></p>
<p>Год написания: <span th:text="${book.getYear()}"></span></p>
<p>Количество книг:  <span  th:text="${book.getCount()}"></span></p>
<p>Описание книги: <span  th:text="${book.getDescription()}"></span></p>

<form th:method="DELETE" th:action="@{/admin/delete/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>