<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #books {
        width: 100%;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    #books div {
        border-style: solid;
    }

    #pages {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
</style>
<body>

<a href="/index">Главная</a>
<a href="/books">Книги</a>
<a th:if="${isAuthorised}" href="/profile">Профиль</a>
<a th:unless="${isAuthorised}" href="/login">Войти</a>

<form method="get" action="/books">
    <input type="hidden" name="search" th:value="${search}">
    <select name="books_per_page">
        <option value="20" th:if="${booksPerPage == 20}" selected>20</option>
        <option value="20" th:unless="${booksPerPage == 20}">20</option>
        <option value="40" th:if="${booksPerPage == 40}" selected>40</option>
        <option value="40" th:unless="${booksPerPage == 40}">40</option>
        <option value="60" th:if="${booksPerPage == 60}" selected>60</option>
        <option value="60" th:unless="${booksPerPage == 60}">60</option>
    </select>

    <input type="submit" value="Показать!">
</form>

<form method="get" action="/books">
    <input type="hidden" th:value="${booksPerPage}" name="books_per_page">
    <input type="text" name="search" th:value="${search}">
    <input type="submit" value="найти">
</form>

<section id="books">
<div th:each="book : ${books}">
    <img th:src="@{/image/books/{name}(name=${book.getUrl()})}" width="170" height="200">
    <p th:text="${book.getName()}"></p>
    <p th:text="${book.getAuthor()}"></p>
    <a th:href="@{/books/{id}(id=${book.getId()})}">Подробнее</a>
</div>
</section>

<div id="pages">
    <a th:each="number : ${#numbers.sequence(0, pageCount-1)}"
       th:href="@{/books(page=${number}, books_per_page=${booksPerPage}, search=${search})}"
       th:text="${number+1}"></a>
</div>
</body>
</html>