<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style/general.css" />
</head>
<body>
    <header>
        <div class="logo">
            <img src="/Vector.svg">
        </div>
        <ul class="menu">
            <div class="menu__osn">
                <a href="/index"><div class="menu__osn__btnone"><p>Главная</p></div></a>
                <a href="/books"><div class="menu__osn__btnone"><p>Книги</p></div></a>
            </div>
            <div class="menu__osn">
                <div th:if="${isAuthorised}"><a class="menu__osn__text"  href="/profile/liked_books">Понравившееся книги</a></div>
                <a th:if="${isAuthorised}" href="/profile"><div class="menu__osn__btntwo"><p>Профиль</p></div></a>
                <div th:unless="${isAuthorised}"><a class="menu__osn__text"  href="/auth/registration">Регистрация</a></div>
                <a th:unless="${isAuthorised}" href="/login"><div class="menu__osn__btntwo"><p>Войти</p></div></a>
            </div>
        </ul>
    </header>
    <main>
        <div class="books__about">
            <div class="books__img">
                <img th:src="@{/image/{name}(name=${book.getUrl()})}">
            </div>
            <div class="books__name" th:text="${book.getName()}"></div>
            <div class="books__author" th:text="${book.getAuthor()}"></div>
            <div class="books__description">
                <p>Описание:</p>
                <div th:text="${book.getDescription()}"></div>
            </div>
        </div>
        <div class="books__log" th:if="${isAuthorised}">

            <form th:method="POST" th:action="@{/books/{id}(id=${book.getId()})}" th:unless="${isLiked}">
                <input type="submit" value="Лайкнуть">
            </form>

            <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}" th:if="${isLiked}">
                <input type="submit" value="Убрать лайк">
            </form>

            <form th:method="POST" th:action="@{/order/add/{id}(id=${book.getId()})}" th:unless="${isOrdered}" th:if="${isFree}">
                <input type="submit" value="Заказать">
            </form>

            <p th:unless="${isFree}">
                Книг в наличии нет
            </p>
        </div>
        <div class="books__notlog" th:unless="${isAuthorised}">
            <p>Чтобы заказать книгу необходима авторизация</p>
            <div><a href="/login">Авторизироваться</a></div>
        </div>
    </main>
    <footer>
        <div>
            <p>+7 (9999) 99-99-99</p>
            <p>e-library@mail.ru</p>
            <p>пн. – пт.: 10:00 – 20:00</p>
            <p>сб. – вс.: 10:00 – 18:00</p>
        </div>
        <div>
            <p>©РТУ МИРЭА ИКБО-01-21 Ерофеев В.С. Булгакова У.И.</p>
        </div>
    </footer>
</body>
</html>