<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    #books {
        display: flex;
        gap: 20px;
    }

    #books div {
        border-style: solid;
    }
</style>
<body>

<a href="/index">Главная</a>
<a href="/books">Книги</a>
<a th:if="${isAuthorised}" href="/profile">Профиль</a>
<a th:unless="${isAuthorised}" href="/login">Войти</a>
<br>

<img th:src="@{/static/images/books/{name}(name=${book.getUrl()})}" width="300" height="450">

<h1 th:text="${book.getName()}"></h1>
<p th:text="${book.getAuthor()}"></p>
<p th:text="${book.getDescription()}"></p>

<div th:if="${isAuthorised}">

    <form th:method="POST" th:action="@{/books/{id}(id=${book.getId()})}" th:unless="${isLiked}">
      <input type="submit" value="Лайкнуть">
    </form>

    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}" th:if="${isLiked}">
        <input type="submit" value="Убрать лайк">
    </form>

    <form th:method="POST" th:action="@{/order/add/{id}(id=${book.getId()})}">
        <input type="submit" value="Добавить в корзину">
    </form>
</div>

<div th:unless="${isAuthorised}">
    <p>Необходима авторизация</p>
</div>

</body>
</html>