<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style/general.css}" />
</head>
<body>
    <header>
        <div class="logo">
            <img th:src="@{/Vector.svg}">
            <div class="logo__btn"><a href="/admin/books">Админ</a></div>
        </div>
        <ul class="menu">
            <div class="menu__osn">
                <div class="menu__osn__btnone"><a href="/index">Главная</a></div>
                <div class="menu__osn__btnone"><a href="/books">Книги</a></div>
            </div>
            <div class="menu__osn">
                <div th:if="${isAuthorised}"><a class="menu__osn__text"  href="/profile">Мои книги</a></div>
                <div th:if="${isAuthorised}" class="menu__osn__btntwo" ><a href="/profile">Профиль</a></div>
                <div th:unless="${isAuthorised}"><a class="menu__osn__text"  href="/auth/registration">Регистрация</a></div>
                <div th:unless="${isAuthorised}" class="menu__osn__btntwo"><a href="/login">Войти</a></div>
            </div>
        </ul>
    </header>
    <div class="image__library">
        <img th:src="@{/image_15.png}">
    </div>
    <div class="top_book">
        <h1>Топ книги за месяц</h1>
    </div>

    <section class="books__on__books">
        <div class="books__block" th:each="book : ${books}">
            <img th:src="@{/image/books/{name}(name=${book.getUrl()})}" width="100px">
            <div class="books__author" th:text="${book.getAuthor()}"></div>
            <div class="books__name" th:text="${book.getName()}"></div>
            <div class="books__btn"><a th:href="@{/books/{id}(id=${book.getId()})}">Подробнее</a></div>
        </div>
    </section>


</body>
</html>