<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Библиотека</title>
    <link rel="stylesheet" th:href="@{/style/general.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <div class="logo">
            <img th:src="@{/Vector.svg}">
            <a href="/admin/books"><div class="logo-btn"><p>Админ</p></div></a>
        </div>
        <nav class="menu">
            <input type="checkbox" id="navbar-toggle-button">
            <label for="navbar-toggle-button" class="nav-bar-toggle-block">
                <div class="nav-bar-toggle-icon"></div>
            </label>
            <div class="menu-osn">
                <a href="/index"><div class="menu-osn-btnone"><p>Главная</p></div></a>
                <a href="/books"><div class="menu-osn-btnone"><p>Книги</p></div></a>
            </div>
            <div class="menu-osn">
                <a th:if="${isAuthorised}" href="/profile/liked_books"><div><p class="menu-osn-text">Понравившееся книги</p></div></a>
                <a th:if="${isAuthorised}" href="/profile"><div class="menu-osn-btntwo"><p>Профиль</p></div></a>
                <a th:unless="${isAuthorised}" href="/auth/registration" ><div><p class="menu-osn-text">Регистрация</p></div></a>
                <a th:unless="${isAuthorised}" href="/login"><div class="menu-osn-btntwo"><p>Войти</p></div></a>
            </div>
        </nav>
        <div class="image__library">
            <img th:src="@{/image_15.png}">
        </div>
    </header>
    <main>
        <div class="top_book">
            <h1>Топ книги за месяц</h1>
        </div>
        <section class="books__on__books">
            <div class="books__block" th:each="book : ${books}">
                <img th:src="@{/image/{name}(name=${book.getUrl()})}" width="100px">
                <div class="books__author" th:text="${book.getAuthor()}"></div>
                <div class="books__name" th:text="${book.getName()}"></div>
                <a th:href="@{/books/{id}(id=${book.getId()})}"><div class="books__btn"><p>Подробнее</p></div></a>
            </div>
    </section>
    </main>
    <footer>
        <div>
            <p>+7 (9999) 99-99-99</p>
            <p>e-library@mail.ru</p>
            <p>пн. – пт.: 10:00 – 20:00</p>
            <p>сб. – вс.: 10:00 – 18:00</p>
        </div>
        <div>
            <p>©РТУ МИРЭА ИКБО-01-21 Ерофеев В.С. Булгакова У.И.</p>
        </div>
    </footer>

</body>
</html>