<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style/general.css}" />
</head>
<body>
    <header>
        <div class="logo">
            <img th:src="@{/Vector.svg}">
            <a href="/admin/books"><div class="logo__btn"><p>Админ</p></div></a>
        </div>
        <ul class="menu">
            <div class="menu__osn">
                <a href="/index"><div class="menu__osn__btnone"><p>Главная</p></div></a>
                <a href="/books"><div class="menu__osn__btnone"><p>Книги</p></div></a>
            </div>
            <div class="menu__osn">
                <div th:if="${isAuthorised}"><a class="menu__osn__text"  href="/profile/liked_books">Понравившееся книги</a></div>
                <a th:if="${isAuthorised}" href="/profile"><div class="menu__osn__btntwo"><p>Профиль</p></div></a>
                <div th:unless="${isAuthorised}"><a class="menu__osn__text"  href="/auth/registration">Регистрация</a></div>
                <a th:unless="${isAuthorised}" href="/login"><div class="menu__osn__btntwo"><p>Войти</p></div></a>
            </div>
        </ul>
        <div class="image__library">
            <img th:src="@{/image_15.png}">
        </div>
    </header>
    <main>
        <div class="top_book">
            <h1>Топ книги за месяц</h1>
        </div>
        <section class="books__on__books">
            <div class="books__block" th:each="book : ${books}">
                <img th:src="@{/image/{name}(name=${book.getUrl()})}" width="100px">
                <div class="books__author" th:text="${book.getAuthor()}"></div>
                <div class="books__name" th:text="${book.getName()}"></div>
                <div class="books__btn"><a th:href="@{/books/{id}(id=${book.getId()})}">Подробнее</a></div>
            </div>
    </section>
    </main>
    <footer>
        <div>
            <p>+7 (9999) 99-99-99</p>
            <p>e-library@mail.ru</p>
            <p>пн. – пт.: 10:00 – 20:00</p>
            <p>сб. – вс.: 10:00 – 18:00</p>
        </div>
        <div>
            <p>©РТУ МИРЭА ИКБО-01-21 Ерофеев В.С. Булгакова У.И.</p>
        </div>
    </footer>

</body>
</html>