<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style/general.css" />
</head>
<body>
    <header>
        <div class="logo">
            <img src="/Vector.svg">
        </div>
        <ul class="menu">
            <div class="menu__osn">
                <a href="/index"><div class="menu__osn__btnone"><p>Главная</p></div></a>
                <a href="/books"><div class="menu__osn__btnone"><p>Книги</p></div></a>
            </div>
            <div class="menu__osn">
                <div th:if="${isAuthorised}"><a class="menu__osn__text"  href="/profile/liked_books">Понравившееся книги</a></div>
                <a th:if="${isAuthorised}" href="/profile"><div class="menu__osn__btntwo"><p>Профиль</p></div></a>
                <div th:unless="${isAuthorised}"><a class="menu__osn__text"  href="/auth/registration">Регистрация</a></div>
                <a th:unless="${isAuthorised}" href="/login"><div class="menu__osn__btntwo"><p>Войти</p></div></a>
            </div>
        </ul>
    </header>
    <main>
        <form class="login__form" th:method="POST" th:action="@{/process_login}">
            <h1>Вход</h1>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input class="login__form__intext" type="text" name="username" id="username" placeholder="Введите почту:">
            <input class="login__form__intext" type="password" name="password" id="password" placeholder="Введите пароль:">
            <p th:if="${param.error}" style="color: red">Неверный логин или пароль</p>
            <input class="login__form__btn" type="submit" value="Войти">
            <a href="/auth/registration">Впервые здесь?</a>
        </form>
    </main>
    <footer>
        <div>
            <p>+7 (9999) 99-99-99</p>
            <p>e-library@mail.ru</p>
            <p>пн. – пт.: 10:00 – 20:00</p>
            <p>сб. – вс.: 10:00 – 18:00</p>
        </div>
        <div>
            <p>©РТУ МИРЭА ИКБО-01-21 Ерофеев В.С. Булгакова У.И.</p>
        </div>
    </footer>
</body>
</html>