<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style/general.css" />
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/Vector.svg">
        </div>
        <ul class="menu">
            <div class="menu__osn">
                <div class="menu__osn__btnone"><a href="/index">Главная</a></div>
                <div class="menu__osn__btnone"><a href="/books">Книги</a></div>
            </div>
            <div class="menu__osn">
                <div th:if="${isAuthorised}"><a class="menu__osn__text"  href="/profile">Мои книги</a></div>
                <div th:if="${isAuthorised}" class="menu__osn__btntwo" ><a href="/profile">Профиль</a></div>
                <div th:unless="${isAuthorised}"><a class="menu__osn__text"  href="/auth/registration">Регистрация</a></div>
                <div th:unless="${isAuthorised}" class="menu__osn__btntwo"><a href="/login">Войти</a></div>
            </div>
        </ul>
    </header>

    <form class="login__form" th:method="POST" th:action="@{/auth/registration}" th:object="${person}">
        <h1>Регистация</h1>
        <input class="login__form__intext" type="text" th:field="*{lastName}" id="last_name" placeholder="Введите фамилию:">
        <p style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

        <input class="login__form__intext" type="text" th:field="*{name}" id="name" placeholder="Введите имя:">
        <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

        <input class="login__form__intext" type="text" th:field="*{surname}" id="surname" placeholder="Введите отчество:">
        <p style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>

        <input class="login__form__intext" type="text" th:field="*{year}" id="year" placeholder="Введите год рождения:">
        <p style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></p>

        <input class="login__form__intext" type="text" th:field="*{email}" id="email" placeholder="Введите почту:">
        <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

        <input class="login__form__intext" type="text" th:field="*{password}" id="password" placeholder="Введите пароль:">
        <p style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

        <input class="login__form__btn" type="submit" value="Зарегистрироваться">
    </form>


</body>
</html>