<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .books {
        display: flex;
        gap: 20px;
    }

    .books div {
        border-style: solid;
    }
</style>
<body>

<a href="/index">Главная</a>
<a href="/books">Книги</a>
<a href="/profile">Профиль</a>

<p th:text="${person.getName()}"></p>
<p th:text="${person.getLastName()}"></p>
<p th:text="${person.getSurname()}"></p>
<p th:text="${person.getYear()}"></p>
<p th:text="${person.getEmail()}"></p>


<a href="/profile/edit">Редактировать</a>

<h1 th:unless="${orderedBooks.isEmpty()}">Заказы</h1>
<section class="books" >
    <div th:each="order : ${orderedBooks}">
        <img th:src="@{/image/books/{name}(name=${order.getBook().getUrl()})}" width="170" height="200">
        <p th:text="${order.getBook().getName()}"></p>
        <p th:text="${order.getBook().getAuthor()}"></p>
        <p th:text="${order.getData()}" th:style = "${order.isOverdue()} ? 'color: red' : 'color: black' "></p>
        <a th:href="@{/books/{id}(id=${order.getBook().getId()})}">Подробнее</a>
    </div>
</section>

<h1 th:unless="${takedBooks.isEmpty()}">Книги на руках</h1>
<section class="books" >
    <div th:each="order : ${takedBooks}">
        <img th:src="@{/image/books/{name}(name=${order.getBook().getUrl()})}" width="170" height="200">
        <p th:text="${order.getBook().getName()}"></p>
        <p th:text="${order.getBook().getAuthor()}"></p>
        <p th:text="${order.getData()}" th:style = "${order.isOverdue()} ? 'color: red' : 'color: black' "></p>
        <a th:href="@{/books/{id}(id=${order.getBook().getId()})}">Подробнее</a>
    </div>
</section>



<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Выйти">
</form>

</body>
</html>